@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
  font-family: "Work Sans", sans-serif;
}

/* common styles */
.container{
    max-width: 1440px;
    margin: 0 auto;
}

.display-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

}
h1{
    font-size: 64px;
    font-weight: bold;
    color: #000000;
}
h2{
    font-size: 45px;
    font-weight: bold;
    color: #727272;
}

p{
    font-size: 16px;
    font-weight: 400;
    color: #727272; 
}

.primary-btn{
    width: 180px;
    background-color: #FF900E;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 24px;
    border: none;
    border-radius: 8px;
}


/* header-section */

header{
    background-color: #ffdf0e10;
    padding-top: 50px;
}

nav {
    padding-bottom: 100px;
}

.nav-links ul{
    list-style: none;
}
.nav-links ul a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    color: #424242;
}

.header-content{
    width: 862px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.banner{
    padding: 50px 0;
}

.banner img{
    width: 100%;
}


/* features section */

.teams{
    padding: 85px 0 85px 0;
    gap: 70px;
}

.teams-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.teams-img img{
    width: 342;
    height: 342px;
}

.teams-content{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.ofour{
    
    color: #131313;
}

.f-text{
    color: #FF900E;
}